<header>
  <div
    style="
      background: #0267c1;
      height: 45px;
      padding: 0 24px;
      display: flex;
      align-items: center;
    "
  >
    <button
      style="height: 45px; text-align: center"
      type="button"
      mat-button
      (click)="drawer.toggle()"
    >
      <mat-icon style="color: #fff">menu</mat-icon>
    </button>
    <h1 style="margin: 0; color: white"><strong>LOGO</strong></h1>
  </div>
</header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Administration</p>
    
    <app-side-bar></app-side-bar>
  </mat-drawer>
  <router-outlet>
    <section style="padding: 2vw">
      <app-candidat-list></app-candidat-list>
    </section>
  </router-outlet>
</mat-drawer-container>

<!-- <router-outlet> -->
<!-- <app-edition-form></app-edition-form>
  <section style="padding: 2vw">
    <h1>Liste des editions</h1>
    <app-edition-list></app-edition-list>
  </section>
  <section style="padding: 2vw">
    <h1>Liste des candidats</h1>
    <app-candidat-list></app-candidat-list>
  </section>
  <section style="padding: 2vw">
    <app-login></app-login>
  </section> -->
<!-- <section style="padding: 2vw">
   <app-liste-projet></app-liste-projet>
  </section> -->
<!-- <section style="width: 100%;height: 100vh;">
    <app-side-bar></app-side-bar>
  </section> -->
<!-- </router-outlet> -->
