.bbst-full-width{
    width: 100%;
}

.bbst-btn{
    width: 100%;
    background: #0267c1 !important;
    color: #fff !important;
}

.bbst-btn:disabled{
    background: #adb5bd !important;
    color: #000 !important;
}