.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* .bbst-x {
  background: linear-gradient(to right, #0099cc 3%, #fff 3%);
  position: relative;
  height: 15vh;
  color: #000;
  padding: 18px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
} */

.bbst-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5vw 6vw;
  margin-bottom: 24px;
}

[class*="bbst-item-"] {
  /* background: linear-gradient(to right, #0099cc 1%, #fff 1%); */

  background: linear-gradient(to right,#0099cc 1%,#212121 1%);
  position: relative;
  height: 15vh;
  color: #fff;
  padding: 18px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.bbst-item-1 {
  width: 20vw;
  /* background: linear-gradient(to right,#0099cc 1%,#E7E8EB 1%); */
 
}

.bbst-item-2 {
  width: 20vw;
}

.bbst-nbr-candidats {
  width: 55px;
  height: 55px;
  background: #41509C;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 14px;
}

.bbst-item-3 {
  width: 20vw;
}

.test-hover {
  margin: 14px 0;
  width: 350px;
  height: 250px;
  padding: 6px;
  background: #515151;
  color: wheat;
  position: relative;
  overflow: hidden;
}

.test-hover:hover .hover-body {
  right: 0;
}

.hover-body {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: 350px;
  background: #fff;
  opacity: 0.5;
  backdrop-filter: blur(5px);
  transition: ease 1s;
}

.bbst-projet-list{
  width: 72vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  [class*="bbst-item-"] {
    flex: 50%;
    height: auto;
  }

  .mat-mdc-table {
    display: none !important;
  }
}
