<section style="padding: 2vw">
  <section class="row">
    <div class="col-3">
      <div class="bbst-x mat-elevation-z2">
        <h1>Edition</h1>
        <p>Type d'Edition</p>
        <p>Nom de l'editon en cours</p>
      </div>
    </div>

    <div class="col-2">
      <div class="bbst-x mat-elevation-z2">
        <h1>Candidat</h1>
        <p>Nbr: 64</p>
        <p></p>
      </div>
    </div>

    <div class="col-4">
      <div class="bbst-x mat-elevation-z2">
        <h1>Nombre de projets preselectionnes</h1>
        <p>Nbr : 35</p>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-9">
      <app-liste-projet></app-liste-projet>
    </div>
  </section>

  <section class="all-items">
    <div class="bbst-x mat-elevation-z2">
      <h1>Edition</h1>
      <p>Type d'Edition</p>
      <p>Nom de l'editon en cours</p>
    </div>
    <div class="bbst-x mat-elevation-z2">
      <h1>Edition</h1>
      <p>Type d'Edition</p>
      <p>Nom de l'editon en cours</p>
    </div>
    <div class="bbst-x mat-elevation-z2">
      <h1>Edition</h1>
      <p>Type d'Edition</p>
      <p>Nom de l'editon en cours</p>
    </div>
  </section>

  <div class="test-hover">
    <p class="hover-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam quod
      voluptatibus optio eius incidunt, quasi ratione itaque laboriosam ex
      molestias quaerat aut est laborum tempore. At sed quas iusto.
    </p>
  </div>
</section>
