.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .bbst-x{
    background: linear-gradient(to top,  #0099cc 3%, #424343 3%);;
    position: relative;
    height: 15vh;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
   
  }

  .all-items{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 50px 60px;
    flex: 1 1 auto;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .bbst-x{
    flex: 50%;
    height: auto;
   }

   .mat-mdc-table {
    display: none !important;
   }
  }