<section class="side-bar">
  
  <div>
    <p style="padding-left: 10px ;">Administration</p>
    <ul>
      <li routerLinkActive="active"><a routerLink="/dashbord" >Dashbord</a></li>
      <li routerLinkActive="active"><a routerLink="/gestion-edition" >Editon</a></li>
      <li routerLinkActive="active"><a href="#">Candidat</a></li>
      <li routerLinkActive="active"><a href="#">Projet</a></li>
    </ul>
  </div>

  <div>
    <p style="text-align: center;"><small>Tout droit reserve ® 2024</small></p>
  </div>
</section>
